In [ ]:
# تثبيت المكتبات المطلوبة
%pip install pandas numpy matplotlib seaborn scikit-learn

# هذه الأدوات نحتاجها لتحليل البيانات، رسم الرسوم البيانية، وبناء النموذج
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# أدوات التعلم الآلي
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [1]:
import pandas as pd

# قراءة الملف بعد الرفع
df = pd.read_csv('StudentsPerformance.csv')

# عرض أول 5 صفوف
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# عرض معلومات عامة عن البيانات
df.info()

In [ ]:
# إحصائيات وصفية للبيانات
df.describe()

In [ ]:
# التحقق من القيم المفقودة
df.isnull().sum()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# رسم توزيع درجات الرياضيات
sns.histplot(df['math score'], kde=True)
plt.title('توزيع درجات الرياضيات')
plt.xlabel('الدرجات')
plt.ylabel('التكرار')
plt.show()

In [ ]:
# تحويل المتغيرات الفئوية إلى قيم رقمية باستخدام OneHotEncoder
df_encoded = pd.get_dummies(df, drop_first=True)

# عرض أول 5 صفوف للبيانات بعد التشفير
df_encoded.head()

In [ ]:
# تحديد الخصائص (X) والهدف (y)
X = df_encoded.drop('math score', axis=1)  # كل الأعمدة ما عدا درجة الرياضيات
y = df_encoded['math score']  # درجة الرياضيات هي الهدف

# تقسيم البيانات إلى بيانات تدريب واختبار
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# عرض حجم البيانات بعد التقسيم
print(f"بيانات التدريب: {X_train.shape}")
print(f"بيانات الاختبار: {X_test.shape}")

In [ ]:
# إنشاء نموذج الانحدار الخطي
model = LinearRegression()
# إنشاء نموذج الانحدار الخطي
model = LinearRegression()

# تدريب النموذج باستخدام بيانات التدريب
model.fit(X_train, y_train)

# عرض معلمات النموذج بعد التدريب
print(f"معاملات النموذج: {model.coef_}")
print(f"التقاطع (Intercept): {model.intercept_}")

In [ ]:
# التنبؤ بالدرجات باستخدام بيانات الاختبار
y_pred = model.predict(X_test)

# حساب MAE, MSE, R²
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# عرض التقييمات
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

In [ ]:
# عرض أول 5 تنبؤات مع القيم الفعلية
results = pd.DataFrame({'القيم الفعلية': y_test, 'التنبؤات': y_pred})
print(results.head())

In [ ]:
# رسم التنبؤات مقابل القيم الفعلية
plt.scatter(y_test, y_pred)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], color='red', lw=2)
plt.xlabel('القيم الفعلية')
plt.ylabel('التنبؤات')
plt.title('التنبؤات مقابل القيم الفعلية')
plt.show()

In [ ]:
# التنبؤ بالدرجات باستخدام بيانات الاختبار
y_pred = model.predict(X_test)

# حساب MAE, MSE, R²
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# عرض التقييمات
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

In [ ]:
# التنبؤ بالدرجات باستخدام بيانات الاختبار
y_pred = model.predict(X_test)